<!-- This is the base template for the CEA Bird Study website. It will be used
 on all pages to reduce code duplication -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}CEA Bird Study{% endblock %}</title>
    <!-- link to the CSS stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<!-- Title and Navigation   -->
<header class="site-header">
        <h1>CEA Bird Study</h1>
        <p>Partnered with the Centrala Trust for Ornithology</p>
    </header>
<!-- Navigation Bar, will be displayed on all pages  -->
    <nav class="navbar">
        <a href="/">Home</a>
        <a href="/new_post">New Post</a>
        <a href="/view_posts">View Posts</a>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
    </nav>
<!-- Main Content will be inserted here from child page templates -->
<main>
    {% block content %}{% endblock %}

</main>
 <!-- Load JavaScript at the end of file so the HTML loads first -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>