   <!-- Home page, contaning description of the project, next steps, and home page images -->
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
 <div class="home-container">
    <!-- Home Text Section -->
        <section class="home-text">
            <h2>Why are we studying birds?</h2>

            <p>
                The CEA and CTO are working together to collect bird sighting data
                from residents across Centrala to assist in urban planning, and 
                 to create positive change and encourage more wildlife (including birds) into Centrala.
            </p>
            <P>
              Living spaces with access to nature, and in particular birds, can have many 
              positive effects on the residents mental health and physical wellbeing.
            </P>
            <p>
                This information will help build a clearer picture of bird activity
                in urban and suburban areas.
            </p>

            <h3>Next steps</h3>
            
                <ul>
                    <li>Register for an account or login to start submitting your bird sightings</li>
                    <li>Use the 'New Post' page to submit your bird sightings, including photos and location data</li>
                    <li>View other residents' sightings on the 'View Posts' page, you will be able to edit and delete your own posts</li> 
                </ul>
            
        </section>
        <!-- Image Section -->
        <section class="home-images">
          <div class ="image-box">
            <img src="{{ url_for('static', filename='images/chris-smith-ZeIFgSO3MAU-unsplash.jpg') }}" alt="Bird" class="bird-image">
          </div>
          
          <div class ="image-box">
            <img src="{{ url_for('static', filename='images/doncoombez-5fcvoU3V3Ic-unsplash.jpg') }}" alt="Bird" class="bird-image">
        </section>
    </div>
{% endblock %}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CEA Bird Study</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <header class="site-header">
        <h1>CEA Bird Study</h1>
        <p>Partnered with the Centrala Trust for Ornithology</p>
    </header>

    <nav class="navbar">
        <a href="/">Home</a>
        <a href="/new-post">New Post</a>
        <a href="/posts">View Posts</a>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
    </nav>

    <main class="home-container">
        <section class="home-text">
            <h2>Why are we studying birds?</h2>

            <p>
                The CEA and CTO are working together to collect bird sighting data
                from residents across Centrala to assist in urban planning, and 
                 to create positive change and encourage more wildlife (including birds) into Centrala.
            </p>
<P>
  Living spaces with access to nature, and in particular birds, can have many 
  positive effects on the residents mental health and physical wellbeing.
</P>
            <p>
                This information will help build a clearer picture of bird activity
                in urban and suburban areas.
            </p>

            <h3>Next steps</h3>
            <p>
                <ul>
                    <li>Register for an account or login to start submitting your bird sightings</li>
                    <li>Use the 'New Post' page to submit your bird sightings, including photos and location data</li>
                    <li>View other residents' sightings on the 'View Posts' page, you will be able to edit and delete your own posts</li> 
                </ul>
            </p>
        </section>
        <section class="home-images">
          <div class ="image-box">
            <img src="{{ url_for('static', filename='images/chris-smith-ZeIFgSO3MAU-unsplash.jpg') }}" alt="Bird" class="bird-image">
          </div>
          
          <div class ="image-box">
            <img src="{{ url_for('static', filename='images/doncoombez-5fcvoU3V3Ic-unsplash.jpg') }}" alt="Bird" class="bird-image">
        </section>
    </main>

</body>
</html> -->