<!-- New Post Page allows users to submit a bird sighting This page will be reused for editing posts,
  pre-filled with existing post data -->
{% extends "base.html" %}

{% block title %}New Post{% endblock %}

{% block content %}
<!-- logic to change based on whether the user is adding a new post or editing an existing one -->
<div class="page-sub-heading">
    <h2>
    {% if post %}
        Edit Post
    {% else %}
        Add New Post
    {% endif %}
    </h2>
</div>

<div class="form-container">
    <!-- Display success message if one exists   -->
    {% if message %}
    <p class="success-message">{{ message }}</p>
{% endif %}
    <!-- Form collects bird sighting details and allows optional image upload. 'enctype="multipart/form-data"' is necessary for file/picture uploads -->
    <form id="new-post-form" method="POST" enctype="multipart/form-data">
<!-- Username field for user submitting the sighting, will be pre-filled if user is logged in  -->
        <div class="input-container">
            <!-- Usses session.username to pre-fill the field -->
            <label for="username">Username:</label>
            <input
                type="text"
                id="username"
                name="username"
                value="{{ session.username }}"
                readonly
            >
        </div>
<!-- dropdown menu for location selection. -->
        <div class="input-container">
            <label for="location">Location:</label>
            <select id="location" name="location">
                <option value="">Select location</option>
                <option value="Erean">Erean</option>
                <option value="Brunad">Brunad</option>
                <option value="Bylyn">Bylyn</option>
                <option value="Docia">Docia</option>
                <option value="Marend">Marend</option>
                <option value="Pryn">Pryn</option>
                <option value="Zord">Zord</option>
                <option value="Yaean">Yaean</option>
                <option value="Frestin">Frestin</option>
                <option value="Stonyam">Stonyam</option>
                <option value="Ryall">Ryall</option>
                <option value="Ruril">Ruril</option>
                <option value="Keivia">Keivia</option>
                <option value="Tallan">Tallan</option>
                <option value="Adohad">Adohad</option>
                <option value="Obelyn">Obelyn</option>
                <option value="Holmer">Holmer</option>
                <option value="Vertwall">Vertwall</option>
            </select>
        </div>
<!-- Date field for specifying the date of the sighting, displayed as a date picker -->
        <div class="input-container">
            <label for="observation-date">Date:</label>
            <input
                type="date"
                id="observation-date"
                name="observation_date"
                value="{{ post.observation_date if post else '' }}"
            >
        </div>
<!-- Time field for specifying the time of the sighting, displayed as a time picker -->
        <div class="input-container">
            <label for="observation-time">Time:</label>
            <input
                type="time"
                id="observation-time"
                name="observation_time"
                value="{{ post.observation_time if post else '' }}"
            >
        </div>
<!-- Dropdown menu for bird species selection -->
        <div class="input-container">
            <label for="bird-species">Bird species:</label>
            <select id="bird-species" name="bird_species">
                <option value="">Select bird species</option>
                <option value="Wood Pigeon"
                    {% if post and post.bird_species == "Wood Pigeon" %}selected{% endif %}>
                    Wood Pigeon
                </option>
                
                <option value="House Sparrow"
                {% if post and post.bird_species == "House Sparrow" %}selected{% endif %}>
                    House Sparrow
                </option>
                <option value="Starling" 
                {% if post and post.bird_species == "Starling" %}selected{% endif %}>
                    Starling
                    </option>
                <option value="Blue Tit" 
                {% if post and post.bird_species == "Blue Tit" %}selected{% endif %}>
                    Blue Tit
                </option>
                <option value="Blackbird" 
                {% if post and post.bird_species == "Blackbird" %}selected{% endif %}>
                    Blackbird
                </option>
                <option value="Robin" 
                {% if post and post.bird_species == "Robin" %}selected{% endif %}>
                    Robin
                </option>
                <option value="Goldfinch" 
                {% if post and post.bird_species == "Goldfinch" %}selected{% endif %}>
                    Goldfinch
                </option>
                <option value="Magpie" 
                {% if post and post.bird_species == "Magpie" %}selected{% endif %}>
                    Magpie
                </option>
                <option value="Other/Unknown" 
                {% if post and post.bird_species == "Other/Unknown" %}selected{% endif %}>
                    Other/Unknown
                </option>
            </select>
            
        </div>
<!-- Dropdown menu for primary activity selection -->
        <div class="input-container">
            <label for="activity">Primary activity:</label>
           <select id="activity" name="activity">

    <option value="">Select activity</option>

            <option value="Visit"
            {% if post and post.activity == "Visit" %}selected{% endif %}>
                Visit
            </option>

            <option value="Feeding"
            {% if post and post.activity == "Feeding" %}selected{% endif %}>
                Feeding
            </option>

            <option value="Nesting"
            {% if post and post.activity == "Nesting" %}selected{% endif %}>
                Nesting
            </option>

            <option value="Other"
            {% if post and post.activity == "Other" %}selected{% endif %}>
                Other
            </option>

        </select>
        </div>
<!--  Duration field allows users to specify the length of the sighting in minutes -->
        <div class="input-container">
            <label for="duration">Duration:</label>
            <input
                type="number"
                id="duration"
                name="duration"
                placeholder="Minutes"
                min="1"
                value="{{ post.duration if post else '' }}"
            >
        </div>
<!-- comments field allows users to add any extra details about the sighting -->
        <div class="input-container">
            <label for="comments">Comments:</label>
            <textarea
                id="comments"
                name="comments"
                placeholder="Add any extra details"
            >{{ post.comments if post else '' }}
            </textarea>
        </div>
<!-- image upload field allows users to upload a picture of the sighting -->
        <div class="input-container">
            <label for="image">Upload image:</label>
            <input type="file" id="image" name="image" accept=".jpg,.jpeg,.png">
        </div>
<!-- Submit button for the form sends a POST request -->
        <button type="submit" class="form-button" >Post</button>

    </form>

</div>

{% endblock %}